.main-page {
    background: linear-gradient(90deg, #FCFEFE 0%, #A5DEFF 100%);
    width: 1360px;
    height: 720px;
    padding-left: 95px;
    flex-shrink: 0;
    box-sizing: border-box;
}

.main-page-text-container{
    width: 573px;
    height: 476px;
    flex-shrink: 0;
    position: absolute;
    top: 124px;
    border-radius: 40px;
    background: #FFF;
    padding-top: 60px;
    padding-left: 60px;
    padding-bottom: 60px;
    padding-bottom: 60px;
    box-sizing: border-box;
}

.name-box{
    margin-top: 60px;
}

.description-box{
    margin-top: 24px;
}
.container-button{
    display: inline-flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 16px;
    background: #FF6B0A;
    border: none;
    margin-top: 32px;
    color: #FFF;

}

.gus-selfie{
    display: flex;
    width: 668px;
    height: 720px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    position: absolute;
    left: 692px;
}

.logo{
    width: 100px;
    height: 32px;
    flex-shrink: 0;
    position: absolute;
    top: 32px;
}


/* налаштування шрифтів*/

.main-text{
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.submain-text{
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}

.accent-text{
    font-family: Montserrat;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: 72px;
}